div.wrapper {
	position: absolute;
}

.labelcenter {
	position: relative;
	display: block;
	margin : 0 auto;
	text-align: center;
}

#stats {
	color:  gray;
}

#money {
	color: lightgray;
}

body {
	background-color: #3A3B3C;
}
