
/* lets me specify positions of items inside the div */
div.wrapper {
	position: absolute;
}

/* centers everything with the class labelcenter, also sets font */
.labelcenter {
	position: relative;
	display: block;
	margin : 0 auto;
	text-align: center;
	font-family:  Helvetica;
}

/* colors some stuff in */
#stats {
	color:  gray;
}

/* resizing */
h2 {
	font-size:  35px;
}

h3 {
	font-size:  25px;
}

/* styles the buttons to look nice */
button {
	width: auto;
	height: auto;
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	border-radius: 5px;
	background-color: lightgray;
	font-size: 20px;
}

/* creates the panel around the buttons and stuff */
#flippanel {
	background-color: blanchedalmond;
	border-radius: 10px;
	border-color: gray;
	border-width: 2px;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	
}

/* fixes button positioning */
.h {
	float: left;
}

.t {
	float: right;
}

.perc {
	margin: 0 auto;
	font-family: Helvetica;
	font-size: 20px;
}

.label {
	font-family: Helvetica;
	font-size: 17px;
}

/* coloring */
#money {
	color: lightgray;
}

/* positioning and styling of the flip result */
#res {
	display: inline-block;
	font-size: 20px;
	font-family: Helvetica;
	opacity: 0;
	margin: 0;
}


/* makes the result flash when you bet */
.flash {
	animation:  flash .5s;
}

@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 1; }
  0% { opacity: 0; }
}

/* background color and centering stuff */
body {
	background-color: #3A3B3C;
	text-align: center;
}
